<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <div>
        <div class="profile">
            여기는 프로필 자리입니다.
            <section>

            </section>
            <section>
                <div>

                </div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div>

                </div>
            </section>

        </div>
        <hr>
        <div class="board">
            여기는 게시글 자리입니다
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>


</div>

</html>