<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">


<div layout:fragment="content">
    <div class = "con_padding">
        <div class="profile">
            <div class="pro_photo">
                여기는 프로필 자리입니다.
            </div>
            <section class="pro_detail">
                <div>
                    아이디 + 팔로잉버튼 + 프로필 편집버튼
                </div>
                <ul>
                    <li>게시물</li>
                    <li>팔로워</li>
                    <li>팔로우</li>
                </ul>
                <div>
                    신뢰등급 + 게시글 작성 버튼
                </div>
            </section>

        </div>
        <hr>
        <div class="board">
            여기는 게시글 자리입니다
            <div>

            </div>
            <div>

            </div>
            <div>

            </div>
        </div>
    </div>


</div>

</html>